<% layout("layouts/boilerplate")%>

    <body>
        <div class="row mt-4">
            <div class="col-8 offset-2 ">
                <h3>Create New Listing</h3>
                <form method="POST" action="/listings" class="needs-validation" novalidate  enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-lable">Title</label>
                        <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
                        <div class="valid-feedback"> Title look Goods</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-lable">Description</label>
                        <textarea name="listing[description]" placeholder="Enter Description" required
                            class="form-control"></textarea>
                            <div class="invalid-feedback">description should be valid</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-lable">Upload Listing Image</label>
                        <input name="listing[image]"  type="file"
                            class="form-control" required>
                            <div class="invalid-feedback">link should be valid</div>
                    </div>
                    <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-lable">Price</label>
                        <input name="listing[price]" placeholder="1200"  class="form-control" required>
                        <div class="invalid-feedback">price should be valid</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-lable">Country</label>
                        <input name="listing[country]" type="text" placeholder="India"
                            class="form-control" required>
                            <div class="invalid-feedback">country should be valid</div>
                    </div>
                </div>
                    <div class="mb-3">
                        <label for="location" class="form-lable">Location</label>
                        <input name="listing[location]" placeholder="Jaipure,Bihar" type="text" class="form-control" required>
                        <div class="invalid-feedback">location should be valid</div>
                    </div>
                    <button class="btn add-btn text-white  mt-3 mb-2">ADD</button>
                </form>

            </div>
        </div>

    </body>