<% layout("layouts/boilerplate")%>
    <div class="row mt-3 mb-3">
        <h2 class="col-6 offset-3">Signup on Wanderlust</h2>
        <div class="col-6 offset-3 ">
            <form action="/signup" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-lable">Username</label>
                    <input name="username" placeholder="Enter Username" type="text" id="username" class="form-control" required>
                    <div class="valid-feedback">Look Goods!</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-lable">E-mail</label>
                    <input name="email" placeholder="Enter Email" type="text" id="email" class="form-control" required>
                    <div class="valid-feedback">Look Goods!</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-lable">Password</label>
                    <input name="password" placeholder="Enter Password" type="text" id="password" class="form-control" required>
                    <div class="valid-feedback">Look Goods!</div>
                </div>
                <button class="btn btn-primary btn-sm">Signup</button>
            </form>
        </div>
    </div>